<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		android:versionCode="1"
		android:versionName="1.0" package="com.example.android.appwidget">
	<application android:label="AppWidget Examples" android:icon="@drawable/icon">
		<receiver android:name="LifeCycle" android:label="LifeCycle">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/life_cycle" />
		</receiver>
		<receiver android:name="SlideShow" android:label="SlideShow">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/slide_show" />
		</receiver>
		<receiver android:name="WhatTimeIsItNow" android:label="WhatTimeIsItNow">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/what_time_is_it_now" />
		</receiver>
		<receiver android:name="AlarmManagerSample" android:label="AlarmManagerSample">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/alarm_manager_sample" />
		</receiver>
		<receiver android:name="ClickSample" android:label="ClickSample">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/click_sample" />
		</receiver>
		<service android:name="WhatTimeIsItNow$MyService" />
		<service android:name="AlarmManagerSample$MyService" />
		<service android:name="ClickSample$MyService">
			<intent-filter>
				<action android:name="com.example.android.appwidget.ClickSample.ACTION_MY_CLICK" />
			</intent-filter>
		</service>
		<activity android:name="LifeCycleConfigure">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>
		</activity>
	</application>
	<uses-sdk/>
</manifest>
